:root {
    --main-font: 'Major Mono Display', monospace;
    --main-font-color: rgb(149, 224, 206);
    --mainBlue: #19194d;
    --lighterBlue: #2a2a63;

}

html, body {
    margin: 0 auto;
    padding: 0;
}

html {
    background-color: var(--mainBlue);
}

/* Header styles */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    background-color: #121236;
    font-family: var(--main-font);
    color: var(--main-font-color);
}

/* Currency display styles */

.currencydisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--mainBlue);
    font-family: var(--main-font);
    color: var(--main-font-color)
}

.currency-title {
    font-size: 22px;
}

.currency-subtitle {
    font-size: 16px;
}

.currency-subvalue {
    font-size: 14px;
}

/* Button styles */

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
}

/* Upgrade buttons */

.upgrade-buttons {
    display: flex;
    justify-content: space-between;
    height: 60%;
    width: 100%;
    background-color: #121236;
}

.upgrade-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height: 300px;
    width: 40%;
    margin: 12px;
    font-family: var(--main-font);
    color: var(--main-font-color);
    padding: 10px;
    border: transparent;
    border-radius: 13px;
    background-color: #1f1f61a2;
}

.upgrade-button span {
    margin-top: 7px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.upgrade-button .upgrade-title {
    font-size: 35px;
    letter-spacing: 12px;
}

.upgrade-button .upgrade-description {
    font-size: 18px;
}

.upgrade-button .upgrade-cost {
    font-size: 18px;
}

.upgrade-button .upgrade-level {
    font-size: 18px;
}

.upgrade-button .upgrade-info {
    font-size: 16px;
}

/* Conversion Buttons */

.conversion-buttons {
    display: flex;
    justify-content: space-evenly;
    height: 60%;
    width: 100%;
    background-color: #121236;
}

.conversion-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 40%;
    margin: 12px;
    font-family: var(--main-font);
    background-color: #1f1f61a2;
    color: var(--main-font-color);
    padding: 10px;
    border: transparent;
    border-radius: 10px;
}

.conversion-button .conversion-title {
    font-size: 25px;
    letter-spacing: 3px;
}

.conversion-button .conversion-cost {
    font-size: 20px;
}

/* Save button styles { Temporary until I create settings menu } */

.save-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    background-color: var(--mainBlue);
}

.save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    background-color: #1f1f61a2;
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 15px;
    height: 200px;
    width: 200px;
    margin: 15px;
}